td,th{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color: brown;
}
.row2{
    background-color: peachpuff;
}
.row3{
    background-color: pink;
}
.row4{
    background-color: skyblue;
}
/* Your CSS Code here. */